/* Employee List Styling*/
.employee-list-table {
    background-color: #0b0736;
    color: white;
    margin:auto;
}


h1.emp-list-heading {
    color: #244d68;
    display: flex;
    justify-content: center;
}


/*ADD Employee Styling*/
.add-employee-style{
    margin-top: 40px;
    margin-left:25%;
    width: 400px;
    background-color: #0b0736;
    color: white;
    padding: 10px;

    
}

h1.add-emp-title {
        color: white;
        padding: 2px 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

.employee-input-field{
    justify-content: space-between;
    display: flex;
    margin: 10px;
}

.input-box-style{
    width: 200px;
    margin-right: 10px;
}

button.btn-style {
    color: white;
    background-color: #7a74bf;
    padding: 6px 24px;
    border-radius: 15px;
    margin-left: 310px;
}

