/* Employee List Styling*/
.employee-list-table {
    background-color: #0b0736;
    color: white;
    margin:auto;
    border-spacing: 0;
    border-collapse: collapse;
}


h1.emp-list-heading {
    color: #244d68;
    display: flex;
    justify-content: center;
}


/*ADD Employee Styling*/
.add-employee-style{
    margin: 40px auto;
    width: 400px;
    background-color: #0b0736;
    color: white;
    padding: 10px;

    
}

h1.add-emp-title {
        color: white;
        padding: 2px 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

.employee-input-field{
    justify-content: space-between;
    display: flex;
    margin: 10px;
}

.input-box-style{
    width: 200px;
    margin-right: 10px;
}
button.btn-style.add-btn {
    background: #2271b1;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.btn-success.edit-btn {
    background: aquamarine;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.btn-danger.emp-data-delete {
    background: red;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.btn-success.update-btn {
    background: aquamarine;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-success.update-btn:hover {
    color: white;
    /* scale: 1.2; */
    background: green;
}

button.btn-danger.cancel-btn {
    background: aquamarine;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-danger.cancel-btn:hover {
    background: red;
    color: aliceblue;
}

input.edit-field {
    width: 100%;
}
td.emp_uid.emp_id {
    width: 50px;
}